# .github/workflows/ci.yml
name: Validating dependencies

on:
  pull_request:
    branches: [dev, qas, main]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm ci

      - name: Check for outdated dependencies
        run: npm outdated || true

      - name: Security audit
        run: npm audit --audit-level=high || true